<div>
  <app-top-movies></app-top-movies>
</div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form class="d-flex">
        <input type="text" class="form-control me-2" name="searchTerm" placeholder="Search by movie name" [(ngModel)]="searchTerm">

        <select class="form-select" name="selectedGenre" [(ngModel)]="selectedGenre" (change)="searchMoviesByGenre()">
          <option selected>All Genre</option>
          <option *ngFor="let genre of genres | async" [value]="genre.name">{{ genre.name }}</option>
        </select>
        <button class="btn btn-primary" type="button" (click)="searchMovies()">Search</button>      </form>
    </div>
  </div>

  <div>
    <h1 class="text-center text-white mt-5">Movies Gallery</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mt-4" *ngFor="let movie of movies$ | async; let i = index;">
      <div class="card movie-card">
        <img src="{{ movie.posterUrl }}" style="height: 40vh;" class="card-img-top" alt="{{ movie.title }}">
        <div class="card-body">
          <h5 class="card-title" title="{{movie.title}}">{{ movie.title.substring(0,20) }}</h5>
          <a class="btn mt-auto" style="background-color: gold" (click)="watchNow(movie.id)" role="button">Watch now</a>
        </div>
      </div>
    </div>
  </div>
</div>

