<div class="bodyDiv">
  <div class='dashboard'>
    <div class="dashboard-nav">
      <header>
        <a  class="menu-toggle"><i class="fas fa-bars">

        </i></a><a
                   class="brand-logo"><i
        class="fas fa-anchor"></i> <span>Drama House</span></a>
      </header>
      <nav class="dashboard-nav-list">
        <a (click)="toHome()" class="dashboard-nav-item ">
          <i class="fas fa-tachometer-alt"></i> Home</a>
        <a href="/dashboard/movies" class="dashboard-nav-item active">
          <i class="fa-solid fa-video"></i> Movies</a>
        <a href="/dashboard/persons" class="dashboard-nav-item">
          <i class="fa-solid fa-users"></i> Actors </a>

        <a (click)="toGenres()" class="dashboard-nav-item"><i class="fa-solid fa-list"></i> Genre </a>
        <a href="/dashboard/movies" class="dashboard-nav-item"><i class="fa-solid fa-users"></i> Users </a>
        <div class="nav-item-divider"></div>
        <a class="dashboard-nav-item" (click)="toProfile()"><i class="fa-regular fa-user" ></i> Profile </a>
        <a class="dashboard-nav-item" (click)="logOut()"><i class="fas fa-sign-out-alt" ></i> Logout </a>
      </nav>
    </div>
    <div class='dashboard-app'>
      <header class='dashboard-toolbar'><a  class="menu-toggle"><i class="fas fa-bars"></i></a></header>
      <div class='dashboard-content'>
        <div class='container-fluid'>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
