<owl-carousel-o [options]="customOptions" class="mt-4">
  <ng-template carouselSlide *ngFor="let movie of moviesList">
    <div class="slide">
      <div class="card movie-card" style="width: 18rem;">
        <img class="card-img-top movie-image" [src]="movie.imageUrl" alt="Movie Poster">
        <div class="card-body">
          <h5 class="card-title movie-title">{{movie.title}}</h5>
          <a href="#" class="btn btn-primary btn-watch-now">Watch Now</a>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
