<app-topmovie></app-topmovie>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>
<app-movie-carousel [moviesList]="moviesList" ></app-movie-carousel>

