<div id="top-slider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let movie of movies | async; let i = index" [class.active]="i === 0">
      <div class="background-image" [style.background]="'url(' + movie.coverUrl + ')'">
        <!-- Your movie details here -->
        <div class="p-5 text-white rounded-3 mb-3">
          <div class="container mt-5">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <img [src]="movie.posterUrl" class="img-fluid" style="height: 40vh; width: 30vh" id="poster_slider" />
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <h1 class="display-4">
                  <i class="me-2 text-warning" style="font-size: 1.5rem;"></i>{{ movie.title }}
                </h1>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h4 class="d-flex align-items-center">
                      <i class="fas fa-calendar-alt me-2 text-warning" style="font-size: 1.5rem;"></i>
                      <strong id="yearr" class="mt-2" style="font-size: 1.5rem;">{{ movie.releaseDate }}</strong>
                    </h4>
                  </div>
                </div>
                <div class="d-flex flex-row gap-3 align-items-center">
                  <h6 class="rounded p-1" style="border: gold 1px solid" *ngFor="let genre of movie.genres">
                    <i class="fas fa-tag me-1 text-warning" style="font-size: 1rem;"></i>{{ genre.name }}
                  </h6>
                </div>
                <p class="lead">{{ movie.description.slice(0,100)}}........</p>
                <h4 class="d-flex align-items-center">
                  <i class="fas fa-clock me-2 text-warning" style="font-size: 1.5rem;"></i>
                  <strong id="duration" class="mt-2" style="font-size: 1.5rem;">{{ movie.duration }} min</strong>
                </h4>
                <!-- Assuming director is also a Person object -->
                <h4 class="d-flex align-items-center">
                  <i class="fas fa-user-tie me-2 text-warning" style="font-size: 1.5rem;"></i>
                  <strong class="mt-2" style="font-size: 1.5rem;">Director: {{ movie.director.name }}</strong>
                </h4>
                <hr class="my-4">
                <div class="d-flex flex-row gap-3">
                  <a class="btn btn-primary col-sm-6 col-md-4 col-lg-2 btn-lg mt-auto" role="button">Watch now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#top-slider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#top-slider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
